<div class="form-group form-check">
    <input name="settings[{{ name }}]" type="checkbox" class="form-check-input" value="1" {{ setting.value == 1 ? 'checked' : '' }}>
    <label class="form-check-label">{{ setting.label }}</label>
</div>