<div class="form-group">
    <label>{{ setting.label }}</label>
    <input name="settings[{{ name }}]" type="text" class="form-control" placeholder="{{ setting.placeholder }}" value="{{ setting.value }}">
</div>