body {
    padding-top: 60px;
}

img {
    max-width: 100%; /* This rule is very important, please do not ignore this! */
}

.navbar-le-top {
    background: linear-gradient(90deg, rgba(142,84,233,1) 0%, rgba(171,86,237,1) 100%);
    width: 100%;
    padding: 5px 10px;
    display: block !important;
}

.navbar-le-top .le-page-name {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-transform: capitalize;
}

.navbar-le-top .nav {
    display: inline-flex !important;
}

.navbar-le-top .nav.float-right {
    margin-right: 10px;
}

.navbar-le-top .nav-item {
    vertical-align: middle;
    border-left: 1px solid rgba(255, 255, 255, .3);
    margin-left: 2px;
    line-height: 2em;
}

.navbar-le-top .nav-item a {
    color: #fff;
    font-size: 14px;
}

.navbar-le-top .nav-item a:hover, .navbar-le-top .nav-item .btn-link {
    text-decoration: none;
}

.navbar-le-top .nav-item:first-of-type {
    border-left: none;
    margin-left: 0;
}

.navbar-le-top .nav-item svg {
    height: 1.3em;
    width: 1.3em;
    transform: translateY(-.15em);
}

.navbar-le-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    width: 100%;
}

.navbar-le {
    background: #fff;
    /*
    display: flex;
    align-items: center;
    justify-content: space-between;
    */
    top: 0;
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    border-bottom: 1px solid #ddd;
}

img.logo {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

.user img {
    width: 30px;
    height: 30px;
    border-radius: 3px;
}

.navbar-le .menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-le .menu ul {
    margin-bottom: 0;
    padding-left: 0;
    border: none;
}

.navbar-le .menu ul li {
    list-style-type: none;
    padding: 0px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: none !important;
}

.dropdown-content.toggled {
    display: flex;
}

.dropdown-content .text-transform {
    border-radius: 5px;
    border: 1px solid rgba(171,86,237,0.5);
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    cursor: pointer;
}

.navbar-le .menu ul li.active:after {
    content: "";
    position: absolute;
    width: 20px;
    bottom: 0;
    height: 15px;
    border-style: solid;
    border-width: 0 12.5px 9px 12.5px;
    border-color: transparent transparent #ECEEF5 transparent;
}

.menu-settings {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-settings .nav-item {
    margin-left: 10px;
}

.menu-lang span {
    color: #fff;
    font-weight: 600;
}

.menu-lang ul:after {
    content: "";
    position: absolute;
    width: 20px;
    top: -15px;
    height: 15px;
    border-style: solid;
    border-width: 0 12.5px 9px 12.5px;
    border-color: transparent transparent #ECEEF5 transparent;
}

.text-transform svg {
    width: 17px;
}

.clicked {
    color: red;
}

.tab-content {
    width: 100%;
    top: 60px;
    left: 0;
    right: 0;
    padding: 10px 25px;
    background-color: #fff;
    position: absolute;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}

.nav-link {
    background-color: transparent !important;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none !important;
    font-size: 14px !important;
    padding: 0;
    color: #000;
}

.nav-link svg {
    margin-right: .5em;
}

/*
.nav-link.active::before {
    content: "";
    position: absolute;
    width: 20px;
    bottom: 0;
    height: 15px;
    border-style: solid;
    border-width: 0 12.5px 9px 12.5px;
    border-color: transparent transparent #ECEEF5 transparent;
}
*/

.tab-content p {
    margin-bottom: 0;
}

a:hover {
    color: inherit;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    border: none;
}

.le-node {
    border: 1px dotted rgb(182, 182, 182);
    background-color: rgb(248, 248, 248);
    outline: 0;
}

.le-node:hover {
    position: relative;
    border: 1px dotted rgb(20, 79, 156);
    background-color: rgb(239, 246, 255);
}

.le-node:focus {
    border: 1px dotted rgb(20, 156, 49);
    background-color: rgb(220, 255, 226);
    cursor: text;
    position: relative;
}

img.le-node {
    padding: 5px;
}

.le-edited {
    background-color: rgb(255, 247, 228) !important;
    border: 1px dotted rgb(255, 215, 121) !important;
}

#formatting-tab-content {
    padding: 5px 0 0 0;
    text-align: center;
}

.language-item {
    display: inline-block !important;
    color: #000 !important;
}

.language-icon {
    width: 2em;
    margin-right: .5em;
}

.le-save {
    color: #fff !important;
    /*
    background-color: #8e54e9 !important;
    border-color: #8e54e9 !important;
    */
}

.le-unsaved {
    display: none;
}

/*
.le-save:focus {
    box-shadow: 0 0 0 0.2rem rgba(142, 84, 233, .3) !important;
}

.le-save:disabled {
    filter: grayscale(100%);
}
*/

.le-image-controls-container {
    border: 1px solid #ccc;
    background: #eee;
    padding: 10px;
}

.le-image-controls-container .btn {
    margin-right: 5px;
}

.le-image-controls-interlanguage-container {
    line-height: 1.8em;
}

.le-image-controls-interlanguage {
    margin-right: .5em;
}

.navbar-le .dropdown {
    background: #fff;
    padding: 5.5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.navbar-le .dropdown-toggle {
    font-size: 12px !important;
}

.navbar-le .dropdown-menu {
    border-radius: 0 !important;
    top: 3.5px !important;
    left: -6.5px !important;
}

.navbar-le .dropdown-menu .dropdown-item {
    font-size: 14px !important;
}

.navbar-le .dropdown-toggle::after {
    margin-left: .5em;
    margin-right: .5em;
    vertical-align: .5em;
}

/* CKEditor styling */
#ckeditor-controls {
    display: inline-block;
}

.cke {
    border: none !important;
    box-shadow: none !important;
}

.cke_top {
    border: none;
    background: none;
    padding: 6px !important;
    border-bottom: none !important;
}

a.cke_button_on, a.cke_button_off:hover, a.cke_button_off:focus, a.cke_button_off:active {
    background: #f3ebff !important;
    color: #8e54e9 !important;
    border-color: transparent !important;
    box-shadow: none;
}

a.cke_button_disabled:hover {
    background-image: none !important;
}

.cke_inner {
    background: none;
}

.cke_toolgroup {
    margin: 0 !important;
}

.cke_toolbar {
    margin-right: 6px !important;
    background: #fff !important;
    padding: 2px !important;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
}