.file-box-around {
    width: 100%;
    padding: 10px !important;
}

.file-box {
    display: inline-block;
    padding: 0 !important;
    overflow: hidden;
    margin: 5px;
    height: auto;
    border-radius: 5px;
    background: #fff;
}

.file-box-inner {
    display: flex;
    padding-top: 0;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.file-box .icon {
    height: 140px;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
    border-radius: 5px;
    background: #eee;
}

.file-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.file-box .file-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px 0px;
    display: block;
    text-align: left;
    width: 100%;
}

.file-box .icon i.fas {
    transform: translateY(55px);
    font-size: 40px;
}

.file-box a:hover {
}

.file-box .user-icon {
    background: none;
    padding: 0;
    border-radius: 50%;
    margin-right: 5px;
    height: 18px;
    width: 18px;
    object-fit: cover;
}

.file-box-buttons {
    display: none;
    width: 101%;
}

.file-box .file-box-buttons button.edit {
    outline: none;
    border:none;
    padding: 5px 10px;
    color: #fff;
    width: 50%;
}

.file-box .file-box-buttons button.delete {
    outline: none;
    border:none;
    padding: 5px 10px;
    width: 50%;
}

.dir-open {
    width: 100%;
}

.file-owner {
    display: none;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

.owner-icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 4px;
    padding: 4px;
}

.owner-icon .user-icon {
    margin-right: 0;
}

.owner-icon a {
    height: 0;
    font-size: 10px;
}

.owner-icon span {
    padding: 0 5px;
    margin: 0;
    display: none;
    font-size: 10px;
}

.owner-icon:hover .user-icon {
    border-bottom-right-radius: 0;
}

.owner-icon:hover span {
    display: inline-block;
}

.control-nav {
    padding: 10px;
    display: grid;
    width: 100%;
    grid-template-columns: auto 1fr;
    border-bottom: 1px solid #eee;
}

.fm-controls-back-btn {
    font-size: 12px;
    margin-right: 10px;
}

.fm-controls-back-btn i {
    margin-right: 5px;
}

.fm-controls-path {
    outline: none;
    padding: 5px 10px;
    border: 1px solid #eee;
    border-radius: 4px;
}

.fm-controls-path a {
    color: rgba(0, 0, 0, .8);
}

.fm-controls-path a:hover {
    color: var(--col-primary);
}

.fm-controls-path svg.icon-tabler {
    height: 1.2em;
    margin: 0;
    color: #000;
}

.fm-controls-path svg.icon-tabler-home:hover {
    color: var(--col-primary);
}

.fm-controls-path svg.icon-tabler-chevron-right {
    color: rgba(0, 0, 0, .2);
    width: 1em;
}

.fm-breadcrumb span {
    display: inline-block;
    transform: translateY(2px);
}

.dir-empty {
    color: #000;
    margin: 10px;
}

.file-dragged {
    z-index: 10;
}

.dir-dragged-over {
}

.dir-dragged-over .file-box-inner {
    transition: .2s;

    border: 1px solid var(--col-primary);
}

.dir-dragged-over .file-box-inner .icon {
    transition: .2s;
    color: var(--col-primary);
}

.menu-toggle-container {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    cursor: pointer;
    overflow: hidden;
    background-color: #eee;
}

.menu-toggle-container:hover .toggler {
    color: var(--col-primary);
}

.menu-toggle-container .content {
    display: none;
}

.menu-toggle-container .toggler {
    padding: 5px;
    display: block;
    text-align: right;
}

.menu-toggle-container button {
    background: none;
    border: none;
    padding: 5px;
    color: #000;
}

.menu-toggle-container button i {
    margin-right: 5px;
}

.file.focused .file-box-inner {
    border: 1px solid var(--col-primary);
    box-shadow: 0 0 0 6px rgba(242, 201, 76, .4);
}

.file {
    cursor: default !important;
}

.delete-file-modal .file-uses a {
    color: var(--col-primary);
}

.delete-file-modal .file-uses a:hover {
    text-decoration: underline;
}

.delete-file-modal .file-uses .table {
    margin-top: 10px;
}

.add-button svg {
    margin: 0;
    height: 1.4em;
}

#dropzone {
    width: 100%;
    height: 50vh;
    border: 3px dashed #ddd;
    margin: 10px;
    border-radius: 5px;
    display: none;
}

#dropzone.fadeout {
    animation: fadeout .3s ease-in-out;
    animation-fill-mode: forwards; 
}

#dropzone .dz-message {
    text-align: center;
    border: none;
    background: none;
    margin-top: 22vh;
    font-size: 24px;
}

#dropzone .dz-preview {
    position: relative;
    display: inline-block;
    width: 120px;
    margin: 1em;
}

#dropzone .dz-image {
    margin-bottom: 5px;
}

#dropzone .dz-preview .dz-progress {
    display: block;
    height: 15px;
    border: 1px solid #ddd;
    margin-top: 5px;
    border-radius: 5px;
}

#dropzone .dz-preview .dz-progress .dz-upload {
    display: block;
    height: 100%;
    width: 0;
    background: var(--col-primary);
    border-radius: 5px;
}

#dropzone .dz-preview .dz-error-mark, #dropzone .dz-preview .dz-success-mark {
    position: absolute;
    display: none;
    left: 30px;
    top: 30px;
    width: 54px;
    height: 58px;
    left: 50%;
    margin-left: -27px;
}

@keyframes fadeout {
    from {opacity: 1}
    to {opacity: 0;}
}