.table tbody tr td img {
    max-height: 30px;
    background-color: #fff;
    padding: 1px;
    border-radius: 5px;
}

.table tr td:first-of-type, .table tr th:first-of-type {
    width: 70px;
    text-align: right;
}

.icon i.fas {
    font-size: 20px;
    color: #f2c94c;
}

.table tbody td a:hover {
    color: #f2c94c;
}

.table tbody td i.fas.fa-cloud, .table tbody td i.fas.fa-hdd {
    margin-right: 5px;
}

.table tbody td .user-icon {
    background: none;
    padding: 0;
    border-radius: 50%;
    margin-right: 5px;
    height: 18px;
    width: 18px;
    object-fit: cover;
}