.empty-content {
    width: 100%;
    color: #000;
    padding: 20px;
}

.empty-content p {
    margin-bottom: 0;
}

.table {
    color: #000 !important;
    border-collapse: separate;
    table-layout: fixed;
    border-spacing: 0 5px;
    table-layout: fixed;
    border-collapse: unset;
    border-spacing: 0;
    font-size: 14px !important;
    margin-bottom: 0 !important;
    position: relative;
    background: #fff !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table thead tr th, .table tfoot tr td {
    background-color: #fff;
    border-top: none;
    padding: 10px 20px !important;
}

.table thead tr th {
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    z-index: 10;
}

.table tfoot tr td {
    border-top: 1px solid #eee;
    border-bottom: 0px solid #eee;
}

.table tfoot tr td:first-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table tfoot tr td:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table thead tr, .table tfoot tr {
    background-color: #fff;
    border: none !important;
    height: 60px;
}

.table td {
    padding: 10px 20px;
    border: none;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    position: relative;
}

.table tbody tr:last-of-type td {
    border: none;
}

.table th, .table td {
    vertical-align: middle !important;
}

.table-buttons {
    width: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.table th .table-buttons {
    height: auto;
}

.table th .table-buttons .btn {
    font-weight: bold;
}

.table .table-buttons .btn {
    padding: 0;
}

.table .table-buttons .link svg {
    margin: 11px;
}

.table-buttons .link {
    margin-left: 5px;
}

.table-buttons .link:hover {
    opacity: .9;
}

.table-buttons button.yellow-button, button.blue-button {
    height: 100%;
}

.table-buttons button.blue-button {
    background-color: #34157e;
    color: #9a74fb;
}

.table tfoot .list-pagination .disabled {
    opacity: .5;
    pointer-events: none;
}

.table tfoot .list-pagination .btn {
    background-color: #fff;
    color: #000;
    font-size:12px;
}

.table tfoot .list-pagination .page-counter {
    background: none;
}

.table tfoot .list-pagination .btn svg {
    height: 1.4em;
}

.table tfoot tr td {
    position: sticky;
    bottom: 0;
}

.table tbody th {
    background-color: #fff;
    border-top: none;
}

.modal form {
    display: block;
    width: 100% !important;
}

.modal form .modal-header, .modal form .modal-body, .modal form .modal-footer {
    width: 100% !important;
}

.modal form .form-control {
    border: 1px solid #eee;
    color: #000;
    margin: 0 !important;
}

.modal form .form-control:focus {
    background-color: #fff;
    color: #000 !important;
}

.modal form .form-control::placeholder {
    color: #ddd;
}

.list-sort-order-arrow {
    margin-left: 5px;
    font-size: 16px;
    color: #000;
}

.list-sort-order-arrow.active {
    color: var(--col-primary);
}

.table thead tr th a.active {
    color: var(--col-primary);
}

.list-type-image {
    border-radius: 3px;
    background-color: #fff;
    padding: 1px;
    cursor: zoom-in;
}

tfoot {
    font-size:12px;
}

a.edit-btn {
    width: 40px;
    color: #fff;
    height: 40px;
    background: #383849;
    font-size: 12px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.delete-btn {
    width: 40px;
    color: #fff;
    height: 40px;
    background: #c10000;
    font-size: 12px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.delete-btn:hover {
    color:#fff;
    background: #c10000;
}

.batch-action-container {
    width: 10px !important;
}