.empty-content {
    margin-top: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    padding: 10px;
    color: #9a74fb;
}

table {
    color: #fff !important;
    border-radius: 5px; 
    overflow: hidden;
    border-collapse: separate;
    table-layout: fixed;
    border-spacing: 0 5px;
    table-layout: fixed;
    border-collapse: unset;
    border-spacing: 0;
    margin-top: 10px;
    font-size: 14px !important;
}

.table thead tr th, .table tfoot tr td {
    background-color: #34157e;
    border: none !important;
    padding: 10px 20px !important;
}

.table thead tr, .table tfoot tr {
    background-color: #34157e;
    border: none !important;
}

.table td {
    padding: 0 20px !important;
    border-top: 1px solid #34157e;
}

td {
    background-color: #4418a1;
    position: relative;
}

table th, table td {
    vertical-align: middle !important;
    padding: 15px;
}

.table-buttons {
    width: auto;
    height: 55px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.table th .table-buttons {
    height: auto;
}

.table th .table-buttons .btn {
    font-weight: bold;
}

.table .table-buttons .btn {
    padding: 0;
}

.table-buttons .link {
    margin-left: 10px;
    color: #f2c94c;
}

.table-buttons .link:hover {
    opacity: .9;
}

.table-buttons button.yellow-button, button.blue-button {
    height: 100%;
}

.table-buttons button.blue-button {
    background-color: #34157e;
    color: #9a74fb;
}

.table tfoot .list-pagination a {
    margin: 0 5px;
}

.table tfoot .list-pagination .disabled {
    opacity: .5;
    pointer-events: none;
}

.table tbody th {
    background-color: #230a5d;
    border-top: none;
}

.modal form {
    display: block;
    width: 100% !important;
}

.modal form .modal-header, .modal form .modal-body, .modal form .modal-footer {
    width: 100% !important;
}

.modal form .form-control {
    border: 1px solid #ccc;
    color: #000;
    margin: 0 !important;
}

.modal form .form-control:focus {
    background-color: #fff;
    color: #000 !important;
}

.modal form .form-control::placeholder {
    color: #ddd;
}