.empty-content {
    width: 100%;
    color: #000;
    padding: 20px;
}

.empty-content p {
    margin-bottom: 0;
}

.table {
    color: #000 !important;
    border-collapse: separate;
    table-layout: fixed;
    border-spacing: 0 5px;
    table-layout: fixed;
    border-collapse: unset;
    border-spacing: 0;
    font-size: 14px !important;
    margin-bottom: 0 !important;
    position: relative;
    background: #fff !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table thead tr th, .table tfoot tr td {
    background-color: #fff;
    border-top: none;
    padding: 10px !important;
}

.table thead tr th {
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    z-index: 10;
    background: #F7F7F7;
}

.table tfoot tr td {
    border-top: 1px solid #eee;
    border-bottom: 0px solid #eee;
}

.table tfoot tr td:first-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table tfoot tr td:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table thead tr, .table tfoot tr {
    background-color: #fff;
    border: none !important;
}

.table td {
    padding: 10px;
    border: none;
    background-color: #fff;
    position: relative;
}

.table tbody tr:nth-child(even) td {
    background: rgba(0, 0, 0, .02);
}

.table tbody tr:hover td {
    background: var(--col-primary-light);
}


.table tbody tr:last-of-type td {
    border: none;
}

.table th, .table td {
    vertical-align: middle !important;
}

.table-buttons {
    width: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.table th .table-buttons {
    height: auto;
}

.table th .table-buttons .btn {
    font-weight: bold;
}

.table .table-buttons .btn {
    padding: 0;
}

.table .table-buttons .link svg {
    margin: 11px;
}

.table-buttons .link {
    margin-left: 5px;
}

.table-buttons .link:hover {
    opacity: .9;
}

.table-buttons button.yellow-button, button.blue-button {
    height: 100%;
}

.table-buttons button.blue-button {
    background-color: #34157e;
    color: #9a74fb;
}

.table tfoot .list-pagination .disabled {
    opacity: .5;
    pointer-events: none;
}

.table tfoot .list-pagination .btn {
    background-color: #fff;
    color: #000;
    font-size:12px;
}

.table tfoot .list-pagination .page-counter {
    background: none;
}

.table tfoot .list-pagination .btn svg {
    height: 1.4em;
}

.table tfoot tr td {
    position: sticky;
    bottom: 0;
}

.table tbody th {
    background-color: #fff;
    border-top: none;
}

.modal form {
    display: block;
    width: 100% !important;
}

.modal form .modal-header, .modal form .modal-body, .modal form .modal-footer {
    width: 100% !important;
}

.modal form .form-control {
    border: 1px solid #eee;
    color: #000;
    margin: 0 !important;
}

.modal form .form-control:focus {
    background-color: #fff;
    color: #000 !important;
}

.modal form .form-control::placeholder {
    color: #ddd;
}

.list-sort-order-arrow {
    margin-left: 5px;
    font-size: 16px;
    color: #000;
}

.list-sort-order-arrow.active {
    color: var(--col-primary);
}

.table thead tr th a.active {
    color: var(--col-primary);
}

.list-type-image {
    border-radius: 3px;
    background-color: #fff;
    padding: 1px;
    cursor: zoom-in;
}

tfoot {
    font-size:12px;
}

a.edit-btn {
    transition: 0ms !important;
    width: 35px;
    height: 35px;
    color: #fff;
    background: #383849;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.delete-btn {
    transition: 0ms !important;
    width: 35px;
    height: 35px;
    color: #fff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--danger);
}

button.delete-btn svg {
    height: 1em !important;
    transform: scale(1.5);
}

.link svg {
    transform: scale(1.2);
}

button.delete-btn:hover {
    color:#fff;
}

.batch-action-container {
    width: 50px !important;
    text-align: center;
}

.results-count {
    margin: 0;
    margin-left: 10px;
}

.timeline {
    border-left: 2px solid #ccc;
    margin: 0 !important;
}

.timeline-item {
    display: block;
    transform: translateX(-28px);
    position: relative;
    width: 100%;
    padding-bottom: 5px;
}

.timeline-item::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #aaa;
    position: absolute;
    left: -18px;
    top: 0;
}

.timeline-item.success::before {
    background: #47e476 !important;
    border-color: #47e476 !important;
    box-shadow: 0 0 0 3px rgba(71, 228, 118, .3) !important;
}

.timeline-item.danger::before {
    background: #FF5666 !important;
    border-color: #FF5666 !important;
    box-shadow: 0 0 0 3px rgba(255, 86, 102, .3) !important;
}

.timeline-item.info::before {
    background: #008BF8 !important;
    border-color: #008BF8 !important;
    box-shadow: 0 0 0 3px rgba(0, 139, 248, .3) !important;
}

.timeline-item.warning::before {
    background: #F5B700 !important;
    border-color: #F5B700 !important;
    box-shadow: 0 0 0 3px rgba(245, 183, 0, .3) !important;
}

.timeline-item:last-of-type::before {
    bottom: 0;
    top: unset;
}

.timeline-date {
    display: block;
    color: rgba(0, 0, 0, .4);
    transform: translateY(-4px);
}

.timeline-body {
    color: rgba(0, 0, 0, .8);
}

.timeline-container {
    display: block;
    padding-bottom: 10px;
    position: sticky;
    top: 10px;
}

.timeline-container .card-header {
    border: 0;
    background: none;
    font-size: 20px;
}

.timeline-container .card-body {
    padding-top: 4px;
    overflow-y: scroll;
    max-height: 91vh;
}

.timeline-container .card-body a {
    color: var(--col-primary);
}

.timeline-container .card-body a:hover {
    text-decoration: underline;
}

.timeline-container .card-body span.text-danger {
    cursor: not-allowed;
}