body {
    /*
    background: repeating-linear-gradient(
        90deg,
        #2a0e6b,
        #2a0e6b 10px,
        #34157e 10px,
        #34157e 20px
    );*/
    font-family: Poppins;
    font-size: 14px;
    background-color: #542db1;
}

::selection {
    background-color: rgb(242, 201, 76);
    color: #542db1;
}

.btn {
    font-size: 14px;
}

.main-content {
    --mc-margin: 25px;
    
    margin: var(--mc-margin);
    position: relative;
    margin-left: calc(220px + var(--mc-margin));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #4418a1;
    border-radius: 5px;
    -webkit-clip-path: inset(0 0 0 0 round 5px);
    clip-path: inset(0 0 0 0 round 5px);
}

.main-content .body {
    padding-top: 0;
    width: 100%;
}

.main-content .body .card {
    width: 100%;
    border-radius: 0;
    border: none;
}

.main-content .body .card form {
    display: block;
    width: 100%;
    padding: 0;
}

.info-box div .info-btn {
    float: left;
    outline: none;
    cursor: pointer;
    padding: 3px 18px;
    transition: all 300ms ease-in-out;
    background: #4418a1;
    color: #9a74fb;
    font-weight: 500;
    font-size: 12px;
    height: 24px;
    border-radius: 5px;
    border: 1px solid #4f1eba;
}

.info-box div .info-btn.right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.button-group {
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.info-box div .info-btn.logout img {
    margin-left: 7px;
}

.info-box div .info-btn:hover {
    background-color: #4f2ea0;
}

.main-content .headline .icon {
    height: 30px;
    width: 30px;
    opacity: .8;
    background-size: 28px 28px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    margin-left: 5px;
}

.main-content .headline .title {
    color: #fff;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    margin-right: auto;
}

.main-content .headline .description {
    font-weight: 400;
    display: block;
    font-size: 10px;
    color: rgba(255, 255, 255, .7);
}

.main-content .headline {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #32127a;
    border-bottom: 1px solid #5a33bc;
}

.form-around {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    visibility: hidden;
    max-height: 0px;
    border-bottom: 1px solid #9a74fb;
    border-top: 1px solid #9a74fb;
    transition: all 300ms ease-in-out;
}

.form-input-around {
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.form-control {
    border-radius: 5px;
    padding: 15px;
    height: auto;
    color: #fff;
    margin:0px;
}

.form-control::placeholder {
    color: #fff;
}

.form-control {
    font-size: 14px;
    background-color: rgba(255, 255, 255, .1);
    border: 1px solid transparent;
}

.form-around.toggled {
    max-height: 3000px;
    visibility: visible !important;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 25px;
}

button.add-button {
    outline: none;
    border-radius: 5px;
    padding: 5px 20px;
    color: #34157e;
    background: linear-gradient(55deg, rgb(242, 153, 74) 0%, rgb(242, 201, 76) 100%) !important;
    border: 1px solid #f2c94c;
    align-self: flex-end;
    margin-right: 5px;
}

button.add-button span {
    font-weight: 500;
}

button.add-button span i {
    margin-right: 4px;
}

button.close-button {
    background: none;
    color: #fff;
    font-size: 24px;
    border: none;
    margin-right: 10px;
    transition: .2s;
}

button.close-button:hover {
    color: #fff !important;
    opacity: .5 !important;
    transition: .2s;
}

.headline-button {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.added-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

.added-form-box {
    border-radius: 5px;
    background-color: #4418a1;
    width: 100%;
    padding: 25px 20px;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
    border-style: solid;
    border-top: 1px solid #4f1eba;
    border-bottom: 1px solid #4f1eba;
    border-left: 5px solid #f2c94c;
    border-right: 1px solid #4f1eba;
    margin-top: 5px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.added-form-box h3 {
    color: #fff;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 18px;
}

button.btn-yellow {
    outline: none;
    border-radius: 5px;
    color: #34157e;
    background: linear-gradient(55deg, rgb(242, 153, 74) 0%, rgb(242, 201, 76) 100%) !important;
    border: 1px solid #f2c94c;
    font-weight: 500;
}

button.btn-yellow img {
    width: 16px;
}

button.btn-blue {
    outline: none;
    background-color: #4418a1;
    border-radius: 5px;
    padding: 15px 35px;
    height: 100%;
    border: 1px solid #9a74fb;
    color: #fff;
}

button.btn-blue span {
    font-weight: 500;
    color: #9a74fb;
    font-size: 12px;
}

.added-form-box-buttons {
    justify-content: flex-end;
    display: flex;
    position: relative;
    height: 40px;
    padding-left: 0;
    padding-right: 0;
}

button.btn-blue.edit {
    background-color: #4f2ea0;
}

button.btn-blue.edit span {
    color: #fff;
}

.added-form-box-headline {
    padding-left: 0;
    padding-right: 0;
}

.main-content .headline h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
}

.form-around .headline {
    padding-left: 10px;
    padding-right: 10px;
}

.custom-file-label {
    border-radius: 5px;
    border: 1px solid #4f1eba;
    background-color: #4418a1;
    padding: 15px;
    height: auto;
    color: #fff;
}

.custom-file-input {
    height: 55px !important;
}

.custom-file-label::after {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #34157e;
    border: 1px solid #f2c94c;
    background: linear-gradient(55deg, rgb(242, 153, 74) 0%, rgb(242, 201, 76) 100%) !important;
    height: 100%;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "Vybrat soubor";
}

.custom-file {
    height: 55px;
}

.check-box-around {
    display: flex;
}

.custom-control-label {
    color: #fff;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.form-check-input {
    width: 25px;
    height: 25px;
    position: relative;
    margin-top: 0;
    margin-left: 0;
}

.custom-control-label::before {
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
    left: -35px;
    top: auto;
}

.custom-control-label::after {
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    content: "";
    left: -34px;
    top: 13px;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border: 1px solid #f2c94c;
    background: linear-gradient(55deg, rgb(242, 153, 74) 0%, rgb(242, 201, 76) 100%) !important;
}

.custom-checkbox {
    display: flex !important;
    width: 100%;
    min-height: 50px;
    align-items: center !important;
    justify-content: flex-start!important;
    padding-left: 38px;
    cursor: pointer;
}

.right-radius-none {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.added-form-box-buttons .btn-yellow {
    height: 100%;
    padding-left: 9px;
    padding-right: 9px;
}

.left-radius-none {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.added-form-box p {
    color: #fff;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 14px;
    font-style: italic;
}

button.btn-yellow.full-width {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.pad-10 {
    padding-left: 10px;
    padding-right: 10px;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.added-form-box:hover {
    border-left: 10px solid #f2c94c;
}

form {
    width: 100% !important;
    padding-top:25px;
    padding-bottom:25px;
    display: flex !important;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

.card-header {
    color: #fff;
    background-color: #34157e;
}

.card {
    border-radius: 5px;
    border: 1px solid #34157e;
}

.card-body {
    background-color: #4418a1;
    color: #fff;
}

.card-body .table {
    border: 1px solid #34157e;
}

.form-group {
    border:none !important;
    margin: 0px;
}

.left-border-none {
    border-left: none !important;
}

.right-border-none {
    border-right: none !important;
}


button.btn-yellow.left-radius-none.left-border-none.delete-button {
    padding: 15px 15px;
}

.badge-success {
    color: #34157e;
    background: linear-gradient(55deg, rgb(242, 153, 74) 0%, rgb(242, 201, 76) 100%) !important;
    border: 1px solid #f2c94c;
    border-radius: 5px;
    padding: 4px;
    font-size: 11px;
}

.form-control:focus {
    background: #4418a1;
    border-color: #9a74fb !important;
    outline: none !important;
    box-shadow: none !important;
    color: #9a74fb !important;
}

.loader svg path,
svg rect {
    fill: #34157e;
}

.btn-yellow .loader {
    position: absolute;
    width: 30px;
    height: 30px;
    opacity: 0;
}

.btn-yellow .loader.toggled {
    opacity: 1;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-yellow .text {
    position: absolute;
    opacity: 1;
}

.btn-yellow .text.toggled {
    opacity: 0;
}

select.form-control {
    color: #fff !important;
    font-size: 14px !important;
    padding: 15px !important;
}

.autocomplete-result-list {
    background: #4418a1;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #9a74fb !important;
    transform: translateY(-14px);
    list-style: none;
    padding: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 10px;
}

.autocomplete-result-list li {
    background-color: rgba(255, 255, 255, .1);
    border-top: #4418a1;
    padding: 10px;
    padding: 10px;
}

.autocomplete-result-list li:hover {
    background-color: rgba(255, 255, 255, .2);
}

select.form-control {
    height: 50px;
}

select[multiple].form-control {
    padding: 4px !important;
}

select[multiple].form-control option {
    padding: 5px;
}

select[multiple].form-control option:nth-child(odd) {
    background-color: rgba(255, 255, 255, .1);
}

select[multiple].form-control option:nth-child(even) {
    background-color: rgba(255, 255, 255, .2);
}

.form-field-breaker {
    flex-basis: 100%;
    height: 0;
}

.carnival-multiselect {
    margin: 5px;
    border: 1px solid #542db1;
    flex: 0 0 calc(100% - 10px);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.carnival-multiselect .row {
    padding: 2px 10px;
}

.carnival-multiselect .row .custom-control {
    font-size: 12px !important;
}

.carnival-multiselect .row .custom-checkbox {
    min-height: 30px !important;
    padding-left: 28px;
}

.carnival-multiselect .row .custom-control-label::before, .carnival-multiselect .row .custom-control-label::after {
    width: 20px;
    height: 20px;
    left: -28px;
    top: 5px;
}