:root {
    --col-primary: #8e54e9;
    --col-primary-light: #f3ebff;
    --col-primary-bg: linear-gradient(90deg, rgba(0, 132, 255, 1) 0%, rgba(71, 160, 244, 1) 100%);
    --col-side-nav: #191927;
    --col-second: #2d2d2d;
    --border-primary: 1px solid rgb(241, 241, 241);

    --danger: #FF5666;

    --nav-border-active: #fff;
    --mc-margin: 15px;
}

body {
    font-family: Poppins;
    font-size: 14px;
    background: #ECEEF5;
}

::selection {
    background-color: var(--col-primary-light);
}

.btn {
    font-size: 14px;
    cursor: pointer !important;
}

.main-container {
    margin-left: calc(200px + var(--mc-margin));
    margin-right: var(--mc-margin);
    margin-bottom: var(--mc-margin);
}

.main-container .col {
    padding: 0 5px !important;
}

.main-content {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}

.main-content.toggled {
    margin-right: 200px;
}

.main-content .body {
    padding-top: 0;
    width: 100%;
}

.main-content .body .card {
    width: 100%;
    border-radius: 0;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main-content .body .card form {
    display: block;
    width: 100%;
    padding: 0;
}

.info-box div .info-btn {
    outline: none;
    padding: 7px 12px;
    transition: all 200ms ease-in-out;
    background: #383849;
    color: #fff;
    border-radius: 3px;
    border: none;
}

.info-box div .info-btn i {
    margin-right: -3px;
}

.info-box div .info-btn.right {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.button-group {
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.info-box div .info-btn:hover {
    background-color: #4f2ea0;
}

.main-content .headline div.icon {
    margin-right: 15px;
    border-radius: 5px;
    color: var(--col-primary);
    background: var(--col-primary-light);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content .headline .icon svg {
    margin: 9px;
}

.main-content .headline .title {
    color: #000;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: bold;
    margin-right: auto;
}

.main-content .headline .description {
    font-weight: 400;
    display: block;
    font-size: 12px;
    color: rgba(0, 0, 0, .6);
    transform: translateY(-2px);
}

.main-content .headline {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.form-around {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    visibility: hidden;
    max-height: 0px;
}

.form-input-around {
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.form-control::placeholder {
    color: #bbb;
}

.form-control {
    border-radius: 3px;
    padding: 15px;
    height: auto;
    color: #000;
    margin: 0px;
    background-color: rgba(255, 255, 255, .1);
    border: 1px solid #ccc;
}

.form-control:disabled {
    background-color: rgba(255, 255, 255, .1);
    color: rgba(0, 0, 0, .8);
    cursor: not-allowed;
}

input.form-control,
textarea.form-control {
    border: 1px solid #ccc;
    font-size: 14px;
}

input.form-control:focus,
textarea.form-control:focus {
    border-color: var(--col-primary) !important;
    box-shadow: 0 0 0 0.2rem rgba(142, 84, 233, .3) !important;
}

.form-around.toggled {
    max-height: 3000px;
    visibility: visible !important;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 25px;
}

button.add-button {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: none;
    margin-right: 10px;
}

button.add-button span {
    font-weight: 500;
}

button.close-button {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-right: 10px;
}

button.close-button:hover {
    opacity: .5 !important;
    transition: .2s;
}

.headline-button {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.added-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

.added-form-box {
    border-radius: 5px;
    width: 100%;
    padding: 25px 20px;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
    border-style: solid;
    margin-top: 5px;
    cursor: pointer;
}

.added-form-box h3 {
    color: #fff;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 18px;
}

button.btn-yellow {
    outline: none;
    border-radius: 5px;
    color: #fff;
    background: #000 !important;
    border: 1px solid #000;
    font-weight: 500;
}

button.btn-yellow img {
    width: 16px;
}

button.btn-blue {
    outline: none;
    background-color: #4418a1;
    border-radius: 5px;
    border: 1px solid #9a74fb;
    color: #fff;
}

button.btn-blue:hover {
    color: #fff;
}

button.btn-blue span {
    font-weight: 500;
    font-size: 12px;
}

.added-form-box-buttons {
    justify-content: flex-end;
    display: flex;
    position: relative;
    height: 40px;
    padding-left: 0;
    padding-right: 0;
}

button.btn-blue.edit {
    background-color: #4f2ea0;
}

button.btn-blue.edit span {
    color: #fff;
}

.added-form-box-headline {
    padding-left: 0;
    padding-right: 0;
}

.main-content .headline h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
}

.form-around .headline {
    padding-left: 10px;
    padding-right: 10px;
}

.custom-file-label {
    border-radius: 5px;
    border: 1px solid #4f1eba;
    background-color: #4418a1;
    padding: 15px;
    height: auto;
    color: #fff;
}

.custom-file-label:disabled {
    color: rgba(255, 255, 255, .7);
}

.custom-file-input {
    height: 55px !important;
}

.custom-file-label::after {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #34157e;
    height: 100%;
}

.custom-file-input:lang(en)~.custom-file-label::after {
    content: "Vybrat soubor";
}

.custom-file {
    height: 55px;
}

.check-box-around {
    display: flex;
}

.custom-control-label {
    color: #000;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-left: 26px;
}

.form-check-input {
    width: 25px;
    height: 25px;
    position: relative;
    margin-top: 0;
    margin-left: 0;
}

.custom-control-label::before {
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
    left: -35px;
    top: auto;
}

.custom-control-label::after {
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    content: "";
    left: -34px;
    top: 13px;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border: 1px solid var(--col-primary);
    background: var(--col-primary);
}

.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before {
    opacity: .8;
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: var(--col-primary) !important;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(142, 84, 233, .3) !important;
}

.custom-control-input:not(:disabled):active~.custom-control-label::before {
    background-color: var(--col-primary-light) !important;
    border-color: var(--col-primary-light) !important;
}

.custom-checkbox {
    display: flex !important;
    width: 100%;
    min-height: 50px;
    align-items: center !important;
    justify-content: flex-start !important;
    padding-left: 38px;
    cursor: pointer;
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: var(--col-primary);
}

.right-radius-none {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.added-form-box-buttons .btn-yellow {
    height: 100%;
    padding-left: 9px;
    padding-right: 9px;
}

.left-radius-none {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.added-form-box p {
    color: #fff;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 14px;
    font-style: italic;
}

button.btn-yellow.full-width {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.pad-10 {
    padding-left: 10px;
    padding-right: 10px;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.added-form-box:hover {}

form {
    width: 100% !important;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex !important;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

.card-header {
    color: #000;
}

.card {
    border-radius: 5px;
}

.card-body {
    color: #000;
}

.card-body .table {}

.card-footer {
    padding: 10px;
}

.form-group {
    border: none !important;
    margin: 0px;
}

.left-border-none {
    border-left: none !important;
}

.right-border-none {
    border-right: none !important;
}


button.btn-yellow.left-radius-none.left-border-none.delete-button {
    padding: 15px 15px;
}

.badge-success {
    color: var(--col-primary);
    background: var(--col-primary-light) !important;
}

.form-control:focus {
    background: #fff;
    border-color: #000 !important;
    outline: none !important;
    box-shadow: none !important;
    color: #000 !important;
}

.loader svg path,
svg rect {
    fill: #34157e;
}

.btn-yellow .loader {
    position: absolute;
    width: 30px;
    height: 30px;
    opacity: 0;
}

.btn-yellow .loader.toggled {
    opacity: 1;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-yellow .text {
    position: absolute;
    opacity: 1;
}

.btn-yellow .text.toggled {
    opacity: 0;
}

.btn-gray {
    background-color: #eee !important;
}

select.form-control {
    font-size: 14px !important;
    padding: 15px !important;
}

.autocomplete-result-list {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    transform: translateY(-14px);
    list-style: none;
    padding: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 10px;
}

.autocomplete-result-list li {
    background-color: rgba(255, 255, 255, .1);
    padding: 10px;
    padding: 10px;
}

.autocomplete-result-list li:hover {
    background-color: rgba(255, 255, 255, .2);
}

select.form-control {
    height: 50px;
}

.form-field-breaker {
    flex-basis: 100%;
    height: 0;
}

.carnival-multiselect {
    margin: 5px;
    flex: 0 0 calc(100% - 10px);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.carnival-multiselect .row {
    padding: 2px 10px;
}

.carnival-multiselect .row .custom-control {
    font-size: 12px !important;
}

.carnival-multiselect .row .custom-checkbox {
    min-height: 30px !important;
    padding-left: 28px;
    cursor: default;
}

.carnival-multiselect .row .custom-control-input:disabled,
.carnival-multiselect .row .custom-control-input:disabled~.custom-control-label {
    cursor: not-allowed;
}

.carnival-multiselect .row .custom-control-label::before,
.carnival-multiselect .row .custom-control-label::after {
    width: 20px;
    height: 20px;
    left: 0;
    top: 5px;
}

.lampion-file-input .custom-file-input {
    cursor: pointer;
}

.lampion-file-input .custom-file-label img {
    max-height: 20px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: #fff;
    padding: 1px;
}

.lampion-file-input .custom-file-input:disabled {
    cursor: not-allowed;
}

.lampion-file-input .custom-file-input:disabled~.custom-file-label {
    background-color: rgba(255, 255, 255, .1);
    color: rgba(255, 255, 255, .8);
}

.lampion-file-input .custom-file-input:disabled~.custom-file-label::after {
    display: none;
}

.lampion-ajax-form {
    margin-bottom: 0;
}

.modal-header {
    padding: 10px;
}

.modal-header h5 {
    font-size: 14px;
}

.modal-header .close {
    text-shadow: none;
    padding-right: 20px;
}

form .form-input-around {
    margin-top: 10px;
}

.form-input-around .field-label {
    font-weight: bold;
    position: absolute;
    top: -4px;
    left: 15px;
    padding: 0 3px;
    background-color: #fff;
    color: rgba(0, 0, 0, .7);
    z-index: 999;
}

.btn-primary {
    background-color: var(--col-primary) !important;
    border-color: var(--col-primary) !important;
    color: #fff !important;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(142, 84, 233, .3) !important;
}

.badge {
    padding: 6px 10px !important;
    border-radius: 40px;
    border: none !important;
}

.btn svg.icon-tabler {
    height: 1.4em;
    margin: 0;
}

.popover-header {
    font-size: 13px !important;
}

.dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--col-primary) !important;
}

.dropdown-menu .icon-tabler {
    height: 1em;
}

.dropdown-menu-arrow {
    top: -34px;
    left: 50%;
    display: block;
    width: 1rem;
    height: 0.5rem;
    margin: 0 0.3rem;
    position: relative;
}

.dropdown-menu-arrow:before,
.dropdown-menu-arrow:after {
    content: "";
    position: absolute;
    display: block;
    width: 1rem;
    height: 0.5rem;
    margin: 0 0.3rem;
    border-width: 7px 8px;
    border-style: solid;
    border-color: transparent;
    z-index: 1001;
}

.dropdown-menu-arrow:after {
    bottom: -18px;
    right: -8px;
    border-bottom-color: #fff;
}

.dropdown-menu-arrow:before {
    bottom: -17px;
    right: -8px;
    border-bottom-color: rgba(0, 0, 0, 0.25);
}

.list-thead svg {
    height: 1.2em;
}

.language-container {
    border: 1px solid #ddd;
    padding: 15px 10px;
    width: 100%;
    border-radius: 3px;
}

.language-icon {
    height: 1em;
    margin-right: 4px;
}

.language-tabs {
    border: 1px solid #ccc;
    border-bottom: none !important;
    background-color: rgba(0,0,0,.03);
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    padding: 3px;
    padding-bottom: 0;
    z-index: 10;
}

.language-tabs .nav-item {
    z-index: 10;
    margin-right: 1px;
}

.language-tabs .nav-item a {
    transition: .1s;
    border-bottom: none !important;
    border-color: transparent !important;
    color: rgba(0, 0, 0, .5);
}

.language-tabs .nav-item a:hover {
    background-color: rgba(0, 0, 0, .05) !important;
}

.language-tabs .nav-item a:focus, 
.language-tabs .nav-item a.active
{
    border-color: #ccc !important;
    color: #000;
}

.language-container .form-control {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    margin-bottom: 0 !important;
}

.language-container textarea.form-control {
    height: 15em;
    z-index: -10;
}

.global-language-switch-container {
    border: none;
    border-bottom: 1px solid #ccc !important;
    justify-content: center;
    margin: -20px;
    padding-top: 10px;
    margin-bottom: 20px;
    background-color: #fff;
}

.nav-pills .nav-link, .nav-pills > .nav-link {
    color: #666;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background: none;
    color: #000;
}

.nav-pills .nav-link svg, .nav-pills > .nav-link svg {
    height: 1.2em;
    transform: translateY(-2px);
}

.nav-pills .nav-link.active svg, .nav-pills .show > .nav-link svg {
    color: var(--col-primary);
}
