#carnival-spa-progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
}

.header {
    display: flex;
    align-items: flex-end;
    padding: 20px;
}

.header .breadcrumbs {
    color: #fff;
    text-align: left;
    width: 100%;
    padding-left: 120px;
    font-size: 22px;
    font-weight: bold;
}

.header .breadcrumbs a::after {
    font-weight: 400;
    content: ' > ';
    color: rgba(255, 255, 255, .5);
}

.header .breadcrumbs a:last-of-type {
    color: rgb(242, 201, 76);
}

.header .breadcrumbs a:last-of-type::after {
    content: '';
}

.logo {
    font-size: 10px;
    font-weight: 800;
    color: #fff;
    width: 100%;
    text-align: center;
    overflow: hidden;
    min-height: 50px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 15px;
}

.logo a {
    transition: .3s;
}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 10px;
}

nav.side-nav {
    width: 200px;
    left: 0;
    position: fixed;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    text-align: center;
    bottom: 0px;
    top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 25px;
    background: linear-gradient(90deg, rgba(142,84,233,1) 0%, rgba(171,86,237,1) 100%);
}

.nav-btn {
    display: inline-flex;
    width: 100%;
    align-items: left;
    justify-content: center;
    padding: 10px;
    padding-left: 3.2em;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    text-align: left;
    vertical-align: top;
    margin-top: 5px;
    position: relative;
    transition: .1s ease-in-out;
}

.nav-btn i {
    font-size: 20px !important;
}

.nav-btn p {
    display: inline-block;
    margin: 0;
}

nav.side-nav h2 {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

nav.side-nav h3 {
    font-size: 12px;
    margin-bottom: 0;
}

.nav-btn svg {
    position: absolute;
    height: 1.5em;
    margin-bottom: 5px;
    opacity: .8;
    display: inline-block;
    left: 5px;
    color: rgba(255, 255, 255, .7);
}

/*
nav.side-nav .info-box {
    width: 220px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #34157e;
    display: flex;
    flex-direction: row;
    padding: 15px 10px;
    flex-wrap: wrap;
    align-content: space-between;
    height: 105px;
}
*/

nav.side-nav .info-box {
    width: 80px;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    text-align: center;
    font-size: 10px;
}

.nav-btn:hover, .nav-btn:focus {
    color: #fff;
}

.nav-btn.active,
.nav-btn:hover,
.nav-btn:focus {
    background-color: rgba(255, 255, 255, .2);
    color: #fff;
}

.nav-btn.active svg,
.nav-btn:hover svg,
.nav-btn:focus svg {
    color: #fff;
}

nav.side-nav::-webkit-scrollbar {
    display: none;
}

.nav-fixed-buttons {
    position: fixed;
    width: 200px;
    left: 0;
    top: 0;
}

.tab {
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 3px 18px;
    transition: all 300ms ease-in-out;
    font-weight: 500;
    font-size: 12px;
    height: 24px;
}

.tab button:hover {
}

.tab button.active {
    color: #fff;
}

.tabcontent {
    display: none;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.tab button.settings {
    padding: 3px 9px;
    border-radius: 5px;
    background: linear-gradient(55deg, rgb(242, 153, 74) 0%, rgb(242, 201, 76) 100%) !important;
    border: 1px solid #f2c94c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab button.left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.tab button.right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.info-box div .info-btn.logout {
    background: #c10000 !important;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
    display: flex;
    width:60px;
    align-items: center;
    border-radius: 3px;
    border: none;
}

.tab-button-group {
    border: 1px solid #4f1eba;
    border-radius: 5px;
}

.tab button.settings img {
    width: 13px;
}

.tablink-entities {
    width: 100%;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #4f1eba;
}

.side-nav .body {
    width: 100%;
    margin-top: 74px;
}

.page-loading {
    display: none;
    font-size: 25px;
}

.scn-nav {
    position: fixed;
    height: 100vh;
    width: 200px;
    background: #fff;
    top: 0;
    left: 80px;
    overflow: hidden;
    z-index: -1;
}

.scn-nav h2 {
    color: #000 !important;
    font-size: 14px !important;
    padding: 20px 0 15px 0;
    margin: 0 !important;
    border-bottom: 1px solid#eee;
    display: inline-block;
    width: 80% !important;
}

.scn-nav h2 i.fas {
    font-size: 18px;
    display: block;
    margin-bottom: 4px;
    color: var(--col-primary);
}

.scn-nav ul {
    padding: 10px;
}

.scn-nav ul li {
    padding: 10px 15px;
    list-style-type: none;
    color: #000;
    border-radius: 5px;
    cursor:pointer;
}

.scn-nav ul li.active {
    background: var(--col-primary-light);
    color: var(--col-primary);
    stroke: var(--col-primary);
}

.scn-nav ul li i {
    margin-right: 10px;
}

svg rect {
    fill: none;
}

.scn-nav-section {
    display: none;
}

.scn-nav-section.active {
    display: block;
}

.scn-nav-toggle {
    position: relative;
}

.scn-nav-toggle:hover::after {
    transition: .2s;
    opacity: 1;
    right: -5px;
}

.scn-nav-toggle.active::after {
    position: absolute;
    opacity: 1;
    right: -10px;
    background-color: #fff;
    color: #000;
}

.scn-nav-toggle::after {
    transition: .2s;
    content: '>';
    font-weight: bold;
    display: block;
    width: 20px;
    height: 20px;
    font-size: 12px;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    right: 0px;
    z-index: 999;
    opacity: 0;
}

.scn-nav-btn {
    text-align: left;
}

.scn-nav-btn svg {
    height: 1.5em;
    transform: scale(.9);
    margin-right: 4px;
}

.dropdown-item {
    font-size: 14px;
}

.dropdown-item i.fas {
    margin-right: 5px;
    color: rgba(0, 0, 0, .7);
}

.dropdown-item.danger:hover {
    background-color: var(--danger);
    color: #fff;
}

.dropdown-item.danger:hover i.fas {
    color: #fff;
}

.side-nav-right {
    position:fixed;
    top:0;
    bottom: 0;
    right:0;
    width: 0;
    height: 100%;
    background: #fff;
    transition: width 200ms ease-in-out;
}

.side-nav-right.toggled {
    width:200px;
}

.nav-right-btn {
    width:70px;
    height: 70px;
    background: #fff;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    transition: width 200ms ease-in-out;
    cursor: pointer;
}

.nav-right-btn-inner {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
}

.nav-right-btn i {
    font-size:24px;
}

.side-nav-right.toggled .nav-right-btn i {
    margin-right: 5px;
}

.nav-right-btn span {
    visibility: hidden;
    width: 0;
    transition: all 200ms ease-in-out;
    font-weight: 600;
}

.side-nav-right.toggled .nav-right-btn span {
    visibility: visible;
    width: auto;
}

.side-nav-right.toggled .nav-right-btn {
    width: 200px;
    transition: width 200ms ease-in-out;
}

.sub-section-toggle .nav-btn {
    margin-bottom: 0;
}

.nav-sub-section {
    padding-bottom: 0;
    margin-top: -10px;
    margin-bottom: 15px;
}

.nav-sub-section ul {
    margin: 0;
    padding: 0;
    margin-left: 1.85em;
    list-style: none;
    border-left: 1px dotted rgba(255, 255, 255, .7);
    position: relative;
}

.nav-sub-section ul li {
    text-align: left;
    margin-bottom: 4px;
    padding: 5px;
    position: relative;
    font-size: 14px;
    margin-left: 5px;
    border-radius: 3px;
    transition: .1s ease-in-out;
    transform: translateY(15px);
}

.nav-sub-section ul li.active,
.nav-sub-section ul li:focus, 
.nav-sub-section ul li:hover {
    background-color: rgba(255, 255, 255, .2);
}

.nav-sub-section ul li::before {
    content: '';
    width: 9px;
    height: 2px;
    position: absolute;
    left: -4px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 1px dotted rgba(255, 255, 255, .7);
}

.nav-sub-section ul li svg {
    height: 1.1em;
    width: 1.5em;
    opacity: .8;
}

.collapse-section {
    padding-right: 10px;
}

.go-website {
    background-color: #fff;
    color: var(--col-primary);
    width: calc(100% - 60px);
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    margin-bottom: 8px;
}

.go-website svg {
    color: var(--col-primary);
}

.top-nav {
    margin-left: 200px;
    background-color: #fff;
    width: calc(100% - 200px);
    padding: 5px;
    margin-bottom: 15px;
    position: relative;
    max-height: 100px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}

.top-nav .breadcrumb {
    width: 50%;
    margin: 0;
    background: none;
}

.top-nav svg {
    height: 1.4em;
    width: 1.4em;
    transform: translateY(-2px);
}

.top-nav .fixed-right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10px;
    margin: -10px 0;
}

.online-user {
    text-align: left;
    display: inline-block;
}

.online-user .user-img {
    width: 2.5em;
    height: 2.5em;
    border-radius: 4px;
    object-fit: cover;
    display: inline-block !important;
    font-size: 14px;
}

.online-user .dropdown-toggle::after {
    display: none;
}

.online-user .dropdown-menu {
    right: 500px;
}

.fixed-right .fixed-right-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    border: none;
    border-left: 1px solid #ddd;
    height: 100%;
    width: 60px;
}

.fixed-right .fixed-right-item.btn {
    position: relative;
    padding: 0;
    border-radius: 0;
}

.fixed-right .fixed-right-item.btn:hover {
    background: var(--col-primary-light);
    color: var(--col-primary);
}

.fixed-right .fixed-right-item.btn:hover svg {
    color: var(--col-primary);
}

.fixed-right .fixed-right-item.btn:focus {
    box-shadow: none !important;
}

.fixed-right .fixed-right-item.btn .notify-dot {
    position: absolute;
    padding: 4px !important;
    z-index: 10;
    font-size: 8px;
}

.fixed-right .fixed-right-item.btn .messages-notify-dot {
    right: 10px;
    top: 10px;
    min-width: 2em;
}

.fixed-right .fixed-right-item.btn .timeline-notify-dot {
    right: 15px;
    top: 15px;
    min-width: 1em;
    min-height: 1em;
}

.fixed-right .fixed-right-item.btn .icon-tabler {
    transform: scale(1.1);
    color: rgba(0, 0, 0, .8);
}

.fixed-right .nav-logout-timer-container {
    width: auto;
    padding: 0 15px !important;
}

.fixed-right .nav-logout-timer-container svg {
    margin-left: 5px;
}

.fixed-right .nav-logout-timer-container #nav-logout-timer {
    width: 4.5em;
}

.nav-demo {
    width: 100%;
    margin-bottom: 5px;
}

.user-dropdown-menu .dropdown-menu-arrow {
   left: 75%;
}

.dev-alert {
    display: inline-block;
    margin-right: 15px;
}