.header {
    display: flex;
    align-items: flex-end;
    padding: 20px;
}

.header .breadcrumbs {
    color: #fff;
    text-align: left;
    width: 100%;
    padding-left: 120px;
    font-size: 22px;
    font-weight: bold;
}

.header .breadcrumbs a::after {
    font-weight: 400;
    content: ' > ';
    color: rgba(255, 255, 255, .5);
}

.header .breadcrumbs a:last-of-type {
    color: rgb(242, 201, 76);
}

.header .breadcrumbs a:last-of-type::after {
    content: '';
}

.logo {
    display: inline-block;
    font-size: 10px;
    font-weight: 800;
    color: #fff;
    width: 80px;
    text-align: center;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    margin-top: 10px;
}

.logo a {
    transition: .3s;
}

nav.side-nav {
    width: 80px;
    left: 0;
    position: fixed;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    bottom: 0px;
    top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 25px;
    background-color: var(--col-side-nav);
}

.nav-btn {
    width: 100%;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    color: #989898;
    border-radius: 0px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    text-align: center;
    font-size: 17px;
    vertical-align: top;
}

.nav-btn p {
    display: inline-block;
    margin: 0;
    display: none;
}

nav.side-nav h2 {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

nav.side-nav h3 {
    font-size: 12px;
    margin-bottom: 0;
}

.nav-btn img {
    height: 20px;
    margin-bottom: 5px;
    opacity: .8;
}

/*
nav.side-nav .info-box {
    width: 220px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #34157e;
    display: flex;
    flex-direction: row;
    padding: 15px 10px;
    flex-wrap: wrap;
    align-content: space-between;
    height: 105px;
}
*/

nav.side-nav .info-box {
    width: 80px;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    text-align: center;
    font-size: 10px;
    background: var(--col-side-nav);
}

.nav-btn:hover, .nav-btn:focus {
    color: #fff;
}

.nav-btn.active, .nav-btn:focus {
    background: var(--col-side-nav);
    color: #fff;
}

nav.side-nav::-webkit-scrollbar {
    display: none;
}

.nav-fixed-buttons {
    position: fixed;
    width: 80px;
    left: 0;
    top: 0;
    background-color: var(--col-side-nav);
}

.online-user {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.online-user span {
    font-size: 12px;
    margin-left: 15px;
}

.tab {
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 3px 18px;
    transition: all 300ms ease-in-out;
    background: #4418a1;
    color: #9a74fb;
    font-weight: 500;
    font-size: 12px;
    height: 24px;
}

.tab button:hover {
    background-color: #4f2ea0;
}

.tab button.active {
    color: #fff;
    background: #4f2ea0;
}

.tabcontent {
    display: none;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.tab button.settings {
    padding: 3px 9px;
    border-radius: 5px;
    background: linear-gradient(55deg, rgb(242, 153, 74) 0%, rgb(242, 201, 76) 100%) !important;
    border: 1px solid #f2c94c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab button.left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.tab button.right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.info-box div .info-btn.logout {
    background: #c10000 !important;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
    display: flex;
    width:60px;
    align-items: center;
    border-radius: 3px;
    border: none;
}

.online-user-around {
    width: 60px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    border-radius: 3px;
}

.online-user .user-img {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    object-fit: cover;
    margin-left: 10px;
    background: #fff;
    padding: 1px;
}

button.go-website {
    outline: none;
    border-radius: 50%;
    color: #fff;
    background: #008DD5 !important;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
    border: none;
}

.go-website span {
    font-weight: 500;
}

.tab-button-group {
    border: 1px solid #4f1eba;
    border-radius: 5px;
}

.tab button.settings img {
    width: 13px;
}

.tablink-entities {
    width: 100%;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #4f1eba;
}

.side-nav .body {
    width: 100%;
    margin-top: 105px;
}

.page-loading {
    display: none;
    font-size: 30px;
}

.scn-nav {
    position: fixed;
    height: 100vh;
    width: 200px;
    background: #eee;
    top: 0;
    left: 80px;
    overflow: hidden;
    z-index: -1;
}

.scn-nav h2 {
    color: #000 !important;
    margin-top: 20px !important;
    font-size: 14px !important;
}

.scn-nav h2 i.fas {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    color: var(--col-primary);
}

.scn-nav ul {
    padding: 10px;
    padding-top: 5px;
}

.scn-nav ul li {
    padding: 10px;
    list-style-type: none;
    color: #000;
    border-radius: 3px;
    cursor:pointer;
}

.scn-nav ul li.active {
    background: #ccc;  
}

.scn-nav ul li i {
    margin-right: 10px;
}

.scn-nav-section {
    display: none;
}

.scn-nav-section.active {
    display: block;
}

.scn-nav-toggle {
    position: relative;
}

.scn-nav-toggle:hover::after {
    transition: .2s;
    opacity: 1;
    right: -5px;
}

.scn-nav-toggle.active::after {
    opacity: 1;
    right: -5px;
}

.scn-nav-toggle::after {
    transition: .2s;
    content: '>';
    font-weight: bold;
    display: block;
    background-color: var(--col-side-nav);
    color: #fff;
    width: 20px;
    height: 20px;
    font-size: 12px;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    right: 0px;
    z-index: 999;
    opacity: 0;
}

.dropdown-item {
    font-size: 14px;
}

.dropdown-item i.fas {
    margin-right: 5px;
    color: rgba(0, 0, 0, .7);
}

.dropdown-item.danger:hover {
    background-color: var(--danger);
    color: #fff;
}

.dropdown-item.danger:hover i.fas {
    color: #fff;
}
