.header {
    display: flex;
    align-items: flex-end;
    padding: 20px;
}

.header .breadcrumbs {
    color: #fff;
    text-align: left;
    width: 100%;
    padding-left: 220px;
    font-size: 22px;
    font-weight: bold;
}

.header .breadcrumbs a::after {
    font-weight: 400;
    content: ' > ';
    color: rgba(255, 255, 255, .5);
}

.header .breadcrumbs a:last-of-type {
    color: rgb(242, 201, 76);
}

.header .breadcrumbs a:last-of-type::after {
    content: '';
}

.logo {
    display: inline-block;
    font-size: 20px;
    font-weight: 800;
    color: rgb(242, 201, 76);
    width: 195px;
    text-align: center;
    border-bottom: 1px solid #4f1eba;
    width: 100%;
    padding: 10px;
}

.logo a {
    transition: .3s;
}

.logo a:hover {
    transition: .3s;
    text-shadow: 3px 3px 0 #6b5618;
}

nav.side-nav {
    border-right: 1px solid #5a33bc;
    width: 220px;
    left: 0;
    position: fixed;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    overflow: auto;
    bottom: 0px;
    top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 25px;
    background-color: #32127a;
}

.nav-btn {
    width: 97px;
    height: 90px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #4418a1;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #4f1eba;
    flex-direction: column;
    color: #9a74fb;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    text-align: center;
    font-size: 13px;
}

/*
.nav-btn {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    color: #9a74fb;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    padding: 10px 15px;
    background: rgb(30,11,74);
    background: linear-gradient(90deg, rgb(36, 12, 92) 0%, rgba(50,18,122,1) 100%);
}
*/

.nav-btn p {
    display: inline-block;
    margin: 0;
}

nav.side-nav h2 {
    width: 100%;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #9a74fb;
}

nav.side-nav h3 {
    font-size: 12px;
    margin-bottom: 0;
}

.nav-btn img {
    height: 25px;
    margin-bottom: 5px;
    opacity: .8;
}

/*
nav.side-nav .info-box {
    width: 220px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #34157e;
    display: flex;
    flex-direction: row;
    padding: 15px 10px;
    flex-wrap: wrap;
    align-content: space-between;
    height: 105px;
}
*/

nav.side-nav .info-box {
    width: 219px;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    text-align: center;
    font-size: 10px;
    border-top: 1px solid #5a33bc;
}

.nav-btn:hover, .nav-btn:focus {
    background: #4f2ea0;
    color: #fff;
}

.nav-btn.active {
    background: #4f2ea0;
    color: #fff;
}

nav.side-nav::-webkit-scrollbar {
    display: none;
}

.nav-fixed-buttons {
    position: fixed;
    width: 219px;
    left: 0;
    top: 0;
    background-color: #34157e;
    border-bottom: 1px solid #5a33bc;
}

.online-user {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.online-user span {
    font-size: 12px;
    margin-left: 15Px;
}

.online-user i {
    margin-right: 2px;
}

.tab {
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 3px 18px;
    transition: all 300ms ease-in-out;
    background: #4418a1;
    color: #9a74fb;
    font-weight: 500;
    font-size: 12px;
    height: 24px;
}

.tab button:hover {
    background-color: #4f2ea0;
}

.tab button.active {
    color: #fff;
    background: #4f2ea0;
}

.tabcontent {
    display: none;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.tab button.settings {
    padding: 3px 9px;
    border-radius: 5px;
    background: linear-gradient(55deg, rgb(242, 153, 74) 0%, rgb(242, 201, 76) 100%) !important;
    border: 1px solid #f2c94c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab button.left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.tab button.right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.info-box div .info-btn.logout {
    background: linear-gradient(55deg, rgb(242, 153, 74) 0%, rgb(242, 201, 76) 100%) !important;
    padding-left: 12px;
    padding-right: 12px;
    color: #34157e;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #f2c94c;
}

.online-user-around {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    border-radius: 5px;
    background-color: #4418a1;
    padding: 5px;
}

.online-user img {
    border-radius: 100%;
    width: 25px;
}

button.go-website {
    outline: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: #34157e;
    border: 1px solid #f2c94c;
    background: linear-gradient(55deg, rgb(242, 153, 74) 0%, rgb(242, 201, 76) 100%) !important;
    width: calc(100% - 20px);
    margin: 10px;
}

.go-website span {
    font-weight: 500;
}

.tab-button-group {
    border: 1px solid #4f1eba;
    border-radius: 5px;
}

.tab button.settings img {
    width: 13px;
}

.tablink-entities {
    width: 100%;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #4f1eba;
}

.side-nav .body {
    width: 100%;
    margin-top: 95px;
}