.main-content {
    background: repeating-linear-gradient(
        45deg,
        #eee,
        #eee 10px,
        #d8d8d8 10px,
        #d8d8d8 20px
    );
    height: 300px;
    position: relative;
}

.main-content .error-msg {
    display: inline-block;
    text-align: center;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-content .error-msg i {
    margin-right: 10px;
}