.main-content {
    background: repeating-linear-gradient(
        45deg,
        #2a0e6b,
        #2a0e6b 10px,
        #34157e 10px,
        #34157e 20px
    );
    height: 300px;
    position: relative;
}

.main-content .error-msg {
    display: inline-block;
    text-align: center;
    color: #fff;
    background-color: #34157e;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #5a33bc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-content .error-msg i {
    color: rgb(242, 201, 76);
    margin-right: 10px;
}